@font-face {
  font-family: pragatiBold;
  src: url(fonts/PragatiNarrow-Bold.otf);
}
@font-face {
  font-family: pragatiRegular;
  src: url(fonts/PragatiNarrow-Regular.otf);
}

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: pragatiRegular;
  line-height: 105%;
}

body {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.card {
  border: 1px solid black;
  width: 2.5in;
  height: 3.5in;
  display: flex;
  flex-direction: column;
  background-color: white;
  flex-shrink: 0;
  page-break-inside: avoid;
}

.header {
  display:flex;
  height: 0.6in;
}

.header h1 {
  padding-left: 10px;
  padding-right: 0.2in;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  width: 50%;
  font-size: 1em;
  font-family: pragatiBold;
  background-color: rgb(92, 75, 65);
  color: white;
  z-index: 0;
  flex:1 0 auto;
}
.picture {
  display: block;
  position: absolute;
  z-index: 0;
  background-color: rgb(255, 145, 0);
  clip-path: polygon(calc(1.25in - 1px) 0.60622in, 0.9in 0in, 1.6in 0in);
  width: 2.5in;
  height: 0.60622in;
}

.stats {

  margin-top: 0.05in;
  width: 50%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  clip-path: polygon(26.6% 0%, 100% 0%, 73.4% 100%, 0% 100%);

}

.statsRow {
  height: 25%;
}

.statsOrange {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 102, 0);
}

.statsGrey {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.statsOrangeTop {
  padding-left: 29%;
  padding-right: 8%;
}

.statsOrangeBot {
  padding-left: 15%;
  padding-right: 23%;
}

.statsGreyTop {
  padding-left: 29%;
  padding-right: 8%;
}

.statsGreyBot {
  padding-left: 15%;
  padding-right: 23%;
}
.statsOrange > p {
  flex:1;
  display: flex;
  justify-content: center;
  font-size: 0.75em;
  font-family: pragatiBold;
  margin: 1px 0 1px 0;
}

.statsGrey > p {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85em;
  font-family: pragatiBold;
  margin: 1px 0 1px 0;
}
.weapons {
  display: flex;
  flex-direction: column;
}
.tableRow {
  padding: 1px;
  display: flex;
  align-items: center;
  font-size: 0.68em;
}
.tableTitle {
  border-top:solid orangered 1px;
  font-size: 0.7em;
  background-color: rgb(180, 175, 175);
}

.tableTitle > div {
  font-family: pragatiBold;
}

.weaponName {
  flex:1 0 36%;
  text-align: left;
  padding-right: 1px;
}

.weaponAttack, .weaponDamage, .weaponAbility {
  flex:1 0 8%;
  text-align: center;
  padding-right: 1px;
}

.weaponSpecial {
  flex:1 0 20%;
  text-align: left;
  display: flex;
  align-items: center;
  padding-right: 1px;
}

.weaponCrit {
  flex:1 1 20%;
  text-align: right;
}

.tableGrey {
  background-color: rgb(230, 227, 227);
}

.circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid black;
  background-color: white;
}

.square {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: rgb(0, 119, 255);
}

.pentagon {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: red;
  clip-path: polygon(50% 0%, 0% 40%, 15% 100%, 85% 100%, 100% 40%);
}

.circleB {
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 7px;
  border: 1px solid black;
  background-color: white;
}

.squareB {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: rgb(0, 119, 255);
}

.pentagonB {
  width: 14px;
  height: 14px;
  display: inline-block;
  background-color: red;
  clip-path: polygon(50% 0%, 0% 40%, 15% 100%, 85% 100%, 100% 40%);
}

.triangleB {
  width: 14px;
  height: 14px;
  display: inline-block;
  background-color: black;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.abilities > h3 {
  border-top:solid orangered 1px;
  font-size: 0.7em;
  font-family: pragatiBold;
  background-color: rgb(180, 175, 175);
  padding:1px;
}

.ability{
  padding:1px;
  font-size: 0.68em;
}

.footer {
  margin-top: auto;
  padding: 1px;
  border-top: 1px solid orangered;
  font-size: 0.62em;
  font-family: pragatiBold;
  background-color: rgb(253, 178, 150);
  line-height: 90%;
}

.headerSaedath {
  display: flex;
  background-color: rgb(243, 113, 96);
  font-size: 0.8em;
  align-items: center;
  justify-content: center;
  height: 0.3in;
}

.abilitySaedath {
  font-size: 0.7em;
  line-height: 92%;
}

.alegoria {
  font-size: 1.2em;
  line-height: 100%;
}

.abilitiesAlegoria > h3 {
  border-top:solid orangered 1px;
  font-size: 1.5em;
  font-family: pragatiBold;
  background-color: rgb(180, 175, 175);
  padding:1px;
  text-align: center;
}

.headerPsiquic {
  display: flex;
  background-color: rgb(72, 132, 243);
  font-size: 0.8em;
  align-items: center;
  justify-content: center;
  height: 0.3in;
}

.psiquic {
  font-size: 1.05em;
  line-height: 92%;
}

.headerArdid {
  display: flex;
  background-color: rgb(248, 213, 100);
  font-size: 0.8em;
  align-items: center;
  justify-content: center;
  height: 0.3in;
}

.headerTactic {
  display: flex;
  background-color: rgb(132, 247, 103);
  font-size: 0.8em;
  align-items: center;
  justify-content: center;
  height: 0.3in;
}

.abilitiesPsiquic > h3 {
  border-top:solid rgb(4, 0, 255) 1px;
  font-size: 1.5em;
  font-family: pragatiBold;
  background-color: rgb(180, 175, 175);
  padding:1px;
  text-align: center;
}

.abilitiesStrategic > h3 {
  border-top:solid rgb(196, 152, 7) 1px;
  font-size: 1.5em;
  font-family: pragatiBold;
  background-color: rgb(180, 175, 175);
  padding:1px;
  text-align: center;
}

.abilitiesTactic > h3 {
  border-top:solid rgb(38, 185, 2) 1px;
  font-size: 1.5em;
  font-family: pragatiBold;
  background-color: rgb(180, 175, 175);
  padding:1px;
  text-align: center;
}

.abilitiesEquip > h3 {
  border-top:solid rgb(112, 2, 185) 1px;
  font-size: 1.5em;
  font-family: pragatiBold;
  background-color: rgb(180, 175, 175);
  padding:1px;
  text-align: center;
}

.headerEquip {
  display: flex;
  background-color: rgb(166, 137, 245);
  font-size: 0.8em;
  align-items: center;
  justify-content: center;
  height: 0.3in;
}

.abilityEquip {
  margin: 2px;
  padding: 2px;
  border: 1px solid rgb(112, 2, 185);
}

.equipTitle {
  width: 100%;
  display: block;
  background-color: rgb(204, 195, 228);
  padding: 1px;
  margin-bottom: 1px;
}

.equipFlexTitle {
  width: 100%;
  display: flex;
  background-color: rgb(204, 195, 228);
  padding: 1px;
  margin-bottom: 1px;
  gap: 2px;
}

.equipFlexRow {
  display: flex;
  gap: 2px;
  width: 100%;
  padding: 1px;
  margin-bottom: 1px;
}
.equipFlexTitle > span, .equipFlexRow > span {
  min-width: 15px;
}
.izq {
  margin-right: auto;
}

.abilitiesOperacionFaccion > h3 {
  border-top:solid rgb(241, 206, 5) 1px;
  font-size: 1.5em;
  font-family: pragatiBold;
  background-color: rgb(180, 175, 175);
  padding:1px;
  text-align: center;
}

.headerOperacionFaccion {
  display: flex;
  background-color: rgb(245, 243, 137);
  font-size: 0.8em;
  align-items: center;
  justify-content: center;
  text-align: center;
}