* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.card {
  border: 1px solid black;
  width: 2.5in;
  height: 3.5in;
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 245, 245);
}

.header {
  margin-top: 0.133in;
  margin-bottom: 0.133in;
  display:flex;
  height: 0.6in;
}

h1 {
  padding-left: 5px;
  padding-right: 0.5in;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  width: 50%;
  font-size: 0.8em;
  font-weight: 800;
  background-color: rgb(92, 75, 65);
  color: white;
  z-index: 0;
}
.picture {
  display: block;
  position: fixed;
  z-index: 0;
  background-color: rgb(255, 145, 0);
  clip-path: polygon(30% 0%, 50% 100%, 70% 0%);
  width: 2.5in;
  height: 0.866in;
}

.stats {
  width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  clip-path: polygon(33.4% 0%, 100% 0%, 66.6% 100%, 0% 100%);
}

.statsRow {
  height: 25%;
}

.statsOrange {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 102, 0);
}

.statsGrey {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.statsOrangeTop {
  padding-left: 29%;
  padding-right: 8%;
}

.statsOrangeBot {
  padding-left: 15%;
  padding-right: 23%;
}

.statsGreyTop {
  padding-left: 29%;
  padding-right: 8%;
}

.statsGreyBot {
  padding-left: 15%;
  padding-right: 23%;
}
.statsOrange > p {
  flex:1;
  display: flex;
  justify-content: center;
  font-size: 0.7em;
  font-weight: 800;
}

.statsGrey > p {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.80em;
  font-weight: 600;
}
.weapons {
  display: flex;
  flex-direction: column;
}
.tableRow {
  padding: 1px;
  display: flex;
  align-items: center;
  font-size: 0.72em;
}

.tableTitle {
  font-size: 0.8em;
  font-weight: 600;
  background-color: rgb(161, 158, 158);
}

.weaponName {
  flex:1 0 36%;
  text-align: left;
}

.weaponAttack, .weaponDamage, .weaponAbility {
  flex:1 0 8%;
  text-align: center;
}

.weaponSpecial {
  flex:1 0 20%;
  text-align: left;
  display: flex;
  align-items: center;
}

.weaponCrit {
  flex:1 1 20%;
  text-align: right;
}

.tableGrey {
  background-color: rgb(202, 200, 200);
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid black;
  background-color: white;
}

.square {
  min-width: 8px;
  height: 8px;
  background-color: blue;
}

.pentagon {
  min-width: 8px;
  height: 8px;
  background-color: red;
  clip-path: polygon(50% 0%, 0% 40%, 15% 100%, 85% 100%, 100% 40%);
}

.abilities > h3 {
  margin-top: 10px;
  font-size: 0.8em;
  font-weight: 600;
  background-color: rgb(161, 158, 158);
  padding:1px;
}

.abilityNormal {
  padding:1px;
  font-size: 0.72em;
}

.abilitySmall {
  padding:1px;
  font-size: 0.5em;
}